<h1>Hello world!</h1>
<%= link_to 'Image Submission', new_image_path %>

<ul class="image_list">
    <% @images.each do |img| %>
        <li>
            <%= render partial: 'image_card', locals: { img: img } %>
        </li>
    <% end %>
</ul>